---
layout: archive
---

{{ content }}

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3> -->

<!-- {% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %} -->

Hi, I'm a M.S. & Ph.D. integrated course student in School of Electrical Engineering at Korea Advanced Institute of Science and Technology (KAIST).
I'm working in Smart Sound Systems Lab and my current research topic is "Target sound extraction on multichannel mixture using target direction-of-arrival (DoA)."
If you want to send an e-mail or leave the comments, please be polite then you and I will feel good !!

<figure>
  <img src="./assets/images/main_background.jpg">
</figure>