<!-- ---
layout: archive
---

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %} -->

---
layout: single
# title: 
# author: DaYun Choi
date: "2022-06-20 20:00"
last_modified_at: "2022-06-20 20:00"
comments: false
---

Hi, welcome to my world!

Thanks for your visiting and interest :)

If you want to leave the comments for the post, please leave them politely.

<div class="jumbotron"
  style="text-align: center; background-image:url(/assets/imges/main_background.jpg); background-size: cover;">
  <img class="author-profile-img" src="/assets/imges/main_background.png" />
  <!-- <p class="jumbotron-heading" style="text-shadow: white;">Hi, I am {{site.author}} !</p>
  <p class="lead" style="text-shadow: white;" id="typewriteText"></p> -->
</div>