---
layout: archive
---

{{ content }}

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3> -->

<!-- {% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %} -->

Hello, and thank you for visiting my homepage.
I am a Master's-PhD integrated course student in Electrical Engineering at KAIST, working in Smart Sound Lab.
My current research focuses on deep learning-based target sound extraction on multichannel mixtures using spatial queries.
If you would like to contact me, please feel free to send me an e-mail :)

<figure>
  <img src="./assets/images/main_background.jpg">
</figure>